
.u-btn {
    color: $color-text-white;
    border-radius: $btn-radius;
    background: $color-bg-primary;
    padding: 15px 25px 15px 25px;
    transition: $global-transition;
    border: 2px solid $color-border-primary;
    font-family: $gothic-bold;
    display: inline-block;
    white-space: nowrap;
    

    &:hover {
        border: 2px solid $color-border-primary-hover;
        background: $color-bg-primary-hover;
    }

    @include bp (large){
        padding: 23px 61px 23px 60px;
    }
}

.u-btn--light {
    color: $color-text;
    background: $color-bg-light-blue;
    border: 2px solid $color-border-light-blue;

    &:hover {
        background: $color-bg-cyan;
        border: 2px solid $color-border-cyan;
       
    }
}

.submit-btn {
    color: $color-text-white;
    border-radius: $btn-radius;
    background: $color-bg-primary;
    padding: 15px 35px 15px 34px;
    transition: $global-transition;
    border: 2px solid $color-border-primary;
    display: inline-block;
    cursor: pointer;

    &:hover {
        color: $color-text-white;
        border: 2px solid $color-border-primary-hover;
        background: $color-bg-primary-hover;
    }

    @include bp (large) {
        padding: 23px 90px 23px 89px;
    }
}

.nav-btn{
    padding: 6px 11px 7px 11px;

    @include bp (large) {
        padding: 11px 23px 12px 23px;
    }
}