/* ==========================================================================
   #HEADINGS
   ========================================================================== */

/**
 * Simple default styles for headings 1 through 6. Anything more opinionated
 * than simple font-size changes should likely be applied via classes (see:
 * http://csswizardry.com/2016/02/managing-typography-on-large-apps/).
 */


h1, h2, h3, h4, h5, h6, .heading-family {
    font-family: $heading-family;
    line-height: 1.2; 
    color: $color-heading;
}

.banner-heading { /* 45px */
    font-size: 2rem;
    
    @include bp(xlarge) {
        font-size: 2.8125rem;
    }
}

.text-header { /* 27px */
    font-size: 1.3rem;
    
    @include bp(xlarge) {
        font-size: 1.6875rem;
    }
}

.banner-paragraph { /* 20px */
    font-size: 1.1rem;

    @include bp(xlarge) {
        font-size: 1.25rem;
    } 
}

.text-subheading { /* 18px */
    font-size: 1.1rem;
    
    @include bp(xlarge) {
        font-size: 1.125rem;
    }
}

.text-regular { /* 16px */
    font-size: 	0.9375rem;
    
    @include bp(xlarge) {
        font-size: 1rem;
    }
}

.paragraph-small {
    font-size: .9rem;
}
