/* ==========================================================================
   #PAGE
   ========================================================================== */

/**
 * Simple page-level setup.
 *
 * 1. Set the default `font-size` and `line-height` for the entire project.
 * 2. Force scrollbars to always be visible to prevent awkward ‘jumps’ when
 *    navigating between pages that do/do not have enough content to produce
 *    scrollbars naturally.
 * 3. Ensure the page always fills at least the entire height of the viewport.
 */

:root {
    --scroll-bar: 8px; 
} 

html {
    color: $color-text;
    font-size: 	0.9375rem; /* [1] */ /* 15px */
    line-height: 1.2; /* [1] */
    min-height: 100%; /* [3] */
    overflow-y: scroll; /* [2] */
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;

    @include bp(xlarge) {
        font-size: 1rem; /* 16px */
    }
}

body {
    font-family: $text-family;
}

.main-wrapper {
    min-height: calc(100vh - 302px);
    height: 100%;
    padding-top: 100px;

    @include bp (large) {
        padding-top: 109px;
    }
}

.main-wrapper--center {
    display: flex;
    align-items: center;

    @include bp (large) {
        display: block;
        align-items: flex-start;
    }
}

.vh {
    @include hidden-visually();
}

p {
    color: $color-text;
}