.input__text {
    color: $color-text;
    width: 100%;
    border: none;
    padding: 12px 0 8px 2px;
    font-size: 1.1rem;
    background: none;
    border-bottom: 1px solid $color-border-gray;
    outline: none;
    transition: $global-transition;

    @include bp(xlarge) {
        font-size: 1.125rem;
    }
    
    &:focus {
        border-bottom: 1.2px solid $color-border-black;
    }
}

.input__text--larger {
    padding: 16px 0 8px 2px;
    font-size: 1.1rem;
    border-bottom: 1px solid $color-border-gray;
    border-radius: 0;

    @include bp(xlarge) {
        font-size: 1.25rem;
    }
}

.input__select {
    appearance: none;
    text-indent: 1px;
    text-overflow: '';
    background-image: url("/assets/images/svg/down-chevron.svg");
    background-repeat: no-repeat;
    background-position-x: 99%;
    background-position-y: 50%;
    background-size: 20px 15px;

    option[value=""][disabled] {
        display: none;
    }

    &::-ms-expand{
        display: none;
    }
}

.input__checkbox {
    min-width: 20px;
    min-height: 20px;   
    margin-top: 2px;
}
