/* ==========================================================================
   #LINKS
   ========================================================================== */

a {
  text-decoration: none;
  color: inherit;
}

.text__underline {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 186px;
    height: 4px;
    background-color: $color-bg-primary;
  }
}

.text__underline--wider {
  &::after {
    width: 190px;
    height: 4px;
    background-color: $color-bg-primary;
  }
}

.text__underline--narrower {
  &::after {
    width: 86px;
    height: 4px;
  }
}