/* ==========================================================================
   #TYPOGRAPHY & COLORS & FONT WEIGHTS & LINE HEIGHTS
   ========================================================================== */

/**
 * Font Colors
 */

.color-black {
    color: $color-text;
}

.color-white {
    color: $color-text-white;
}

.color-gray {
    color: $color-text-gray;
}

.color-blue {
    color: $color-text-blue;
}

/**
 * Font Weights
 */

.font-medium {
    font-family: $text-family;
}

.font-bold {
    font-family: $heading-family;
}


/**
 * Line Heights
 */
.line-reset {
    line-height: 1;
}
