{% extends 'layouts/base.twig' %}


{% block body %}

    {% include 'components/nav-bar.twig' %}

    <main class="wrapper-full">

        <div class="main-wrapper">
            {% include 'components/case-studies.twig' with {
                'title': 'Case Studies',
                'text' : 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut.',
                'item' : {
                    'blog' : {
                        'title' : 'Title 1'
                    }
                }
            }  %}
        </div>
        
        {% include 'components/footer.twig' %}

    </main class="wrapper-full">

    

{% endblock %}

