{% extends 'layouts/base.twig' %}


{% block body %}

    {% include 'components/nav-bar.twig' %}

    <main class="wrapper-full">
        
        <div class="main-wrapper main-wrapper--center">
            {% include 'components/contact-page.twig' %}
        </div>
        
        {% include 'components/footer.twig' %}

    </main class="wrapper-full">

    

{% endblock %}

