{% extends 'layouts/base.twig' %}


{% block body %}

    {% include 'components/nav-bar.twig' %}

    <main class="wrapper-full">

        <div class="main-wrapper">

            {% include 'components/standard-row.twig' %}

            {% include 'components/banner-row.twig' %}
    
            {% include 'components/heavy-content.twig' %}
    
            {% include 'components/feature-cards.twig' %}
    
            {% include 'components/carousel-row.twig' %}
    
            {% include 'components/video-row.twig' %}
    
            {% include 'components/video-full.twig' %}
    
            {% include 'components/gallery.twig' %}
    
            {% include 'components/services-row.twig' %}
    
            {% include 'components/links-row.twig' %}
    
            {% include 'components/form-row.twig' %}
    
            {% include 'components/homepage-header.twig' %}
    
            {% include 'components/flex-row-header.twig' %}
    
            {% include 'components/our-pillars.twig' %}

        </div>
        
        {% include 'components/footer.twig' %}

    </main class="wrapper-full">

    

{% endblock %}

