
<!-- BANNER ROW - START -->
<section class="banner-row wrapper-stretched ">
    <div class="banner-row__inner">
        <img class="banner-row__image" src="/assets/images/tiger.jpg" alt="Tiger" data-bottom-top="transform:translateY(0px);" data-bottom-bottom="transform:translateY(-200px);">
        <div class="banner-row__wrapper wrapper-full d-flex d-flex-center">
            <div class="banner-row__content u-text-center">
                <h1 class="banner-heading color-white pb-3 pb-lg-4 mb-2 mb-lg-3">Example Page Heading</h3>
                <p class="banner-paragraph color-white mb-3 mb-lg-4">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut.</p>
            </div>
        </div>
        <div class="banner-row__dark"></div>
    </div> 
</section>
<!-- BANNER ROW - END -->