<section class="carousel-row wrapper-stretched">

    <div class="carousel-row__image">

        <div class="js-carousel carousel-row__list">
            
            <div>
                <img class="carousel-row__img lazy img-fluid" data-src="https://via.placeholder.com/700x650">
            </div>
            <div>
                <img class="carousel-row__img lazy img-fluid" data-src="https://via.placeholder.com/700x650">
            </div>
            <div>
                <img class="carousel-row__img lazy img-fluid" data-src="https://via.placeholder.com/700x650">
            </div>
            <div>
                <img class="carousel-row__img lazy img-fluid" data-src="https://via.placeholder.com/700x650">
            </div>  
        </div>
        
    </div>

    <div class="wrapper-full">
        <div class="carousel-row__box">
            <div class="carousel-row__inner d-flex">
                <div class="carousel-row__content">
                    <h5 class="text-regular color-blue mb-1">SUBHEADING</h5>
                    <h2 class="text-header mb-4">An Example Heading here</h2>
                    <p class="carousel-row__copy mb-4">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
                    <a href="#" class="u-btn">FIND OUT MORE</a>
                </div>
            </div>
        </div>
    </div>

</section>
