<section class="contact-page wrapper-stretched">
    <div class="contact-page__bg">
        <img class="contact-page__img" src="assets/images/water.jpg">
    </div>
    <div class="contact-page__center wrapper-full">
        <div class="contact-page__column">
            <div class="contact-page__content">
                <h1 class="banner-heading mb-2">Get in touch</h1>
                <p class="text-regular mb-2">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy.</p>
                <form>
                    <input class="input__text mb-2" type="text" placeholder="Name*" required>
                    <input class="input__text mb-2" type="email" placeholder="Email*" required>
                    <select class="input__text input__select mb-2" required>
                        <option disabled selected value="">Department*</option>
                        <option value="One">One</option>
                        <option value="Two">Two</option>
                    </select>
                    <input class="input__text mb-3" type="text" placeholder="Subject">
                    <textarea class="contact-page__textarea" placeholder="Message"></textarea>
                    <div class="contact-page__checkboxRow d-flex mb-2">
                        <label class="d-flex" for="terms">
                            <input id="terms" class="input__checkbox" type="checkbox">
                            <p class="text-regular ml-1">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy.</p>
                        </label>
                    </div>
                    <input type="submit" class="submit-btn font-bold" value="SUBMIT">
                </form>
            </div>
        </div>
    </div>
</section>
