<footer class="footer wrapper-stretched">
    <div class="wrapper-full">
        <div class="footer__top-row d-flex d-flex-wrap">
            <div class="footer__column-one d-flex">
                
                <div class="footer__image d-flex">
                    <img class="footer__img" src="https://via.placeholder.com/123x82">
                </div>
            </div>

            <div class="footer__column-two d-flex">
                <div class="footer__menu">
                    
                    <ul class="footer__list d-flex d-flex-wrap">
                        <li class="footer__item"><a href="#" class="footer__link">Values</a></li>
                        <li class="footer__item"><a href="#" class="footer__link">Pillars</a></li>
                        <li class="footer__item"><a href="#" class="footer__link">Technology</a></li>
                        <li class="footer__item"><a href="#" class="footer__link">Case Studies</a></li>
                        <li class="footer__item"><a href="#" class="footer__link">Contract</a></li>
                    </ul>
                </div>
            </div>
            
            <div class="footer__column-three d-flex">
                <div class="footer__social">
                    <div class="mr-lg-2">
                        <a class="footer__socialLink d-flex" href="#">
                            <svg class="footer__icon footer__tw lazy" xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 681.335 681"><path xmlns="http://www.w3.org/2000/svg" d="M200.965 645.293c241.05 0 372.87-199.703 372.87-372.871 0-5.672-.116-11.32-.37-16.938a266.692 266.692 0 0065.37-67.863c-23.48 10.441-48.753 17.461-75.257 20.637 27.055-16.23 47.828-41.895 57.625-72.488a262.838 262.838 0 01-83.215 31.808c-23.914-25.473-57.965-41.402-95.664-41.402-72.367 0-131.058 58.687-131.058 131.031 0 10.29 1.152 20.29 3.398 29.883-108.918-5.48-205.504-57.625-270.133-136.922-11.25 19.363-17.742 41.863-17.742 65.871 0 45.461 23.137 85.606 58.316 109.082-21.5-.66-41.695-6.562-59.351-16.387-.02.551-.02 1.086-.02 1.672 0 63.469 45.172 116.461 105.145 128.469a131.531 131.531 0 01-34.559 4.61c-8.43 0-16.648-.829-24.632-2.364 16.683 52.07 65.066 89.961 122.425 91.024-44.855 35.156-101.36 56.097-162.77 56.097-10.562 0-21.003-.605-31.261-1.816 58 37.176 126.871 58.87 200.887 58.87" fill="#fff" data-original="#000000"/></svg>
                        </a>
                    </div>
                    <div class="mr-lg-2">
                        <a class="footer__socialLink d-flex" href="#">
                            <svg class="footer__icon footer__lin lazy" xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 310 310"><g xmlns="http://www.w3.org/2000/svg"><path d="M72.16 99.73H9.927a5 5 0 00-5 5v199.928a5 5 0 005 5H72.16a5 5 0 005-5V104.73a5 5 0 00-5-5zM41.066.341C18.422.341 0 18.743 0 41.362 0 63.991 18.422 82.4 41.066 82.4c22.626 0 41.033-18.41 41.033-41.038C82.1 18.743 63.692.341 41.066.341zM230.454 94.761c-24.995 0-43.472 10.745-54.679 22.954V104.73a5 5 0 00-5-5h-59.599a5 5 0 00-5 5v199.928a5 5 0 005 5h62.097a5 5 0 005-5V205.74c0-33.333 9.054-46.319 32.29-46.319 25.306 0 27.317 20.818 27.317 48.034v97.204a5 5 0 005 5H305a5 5 0 005-5V194.995c0-49.565-9.451-100.234-79.546-100.234z" fill="#fff" data-original="#000000"/></g></svg>
                        </a>
                    </div>
                    <div>
                        <a class="footer__socialLink d-flex" href="#">
                            <svg class="footer__icon footer__fb lazy" xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 24 24"><path  xmlns="http://www.w3.org/2000/svg" d="M15.997 3.985h2.191V.169C17.81.117 16.51 0 14.996 0c-3.159 0-5.323 1.987-5.323 5.639V9H6.187v4.266h3.486V24h4.274V13.267h3.345l.531-4.266h-3.877V6.062c.001-1.233.333-2.077 2.051-2.077z" fill="#fff" data-original="#000000"/></svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer__bottom-row d-flex d-flex-wrap">
            <p class="color-gray mb-1 mb-lg-0 paragraph-small">Perigon Systems 2021</p>
            <p class="color-gray paragraph-small"><a class="footer__paragraphLink" href="#">Privacy Policy</a> | <a class="footer__paragraphLink" href="#">Terms & Conditions</a> | <a class="footer__paragraphLink" href="#">Modern Slavery</a></p>
        </div>

    </div>
</footer>