<nav class="nav-bar__nav">
    <div class="wrapper-full nav-bar__nav-inner">
        <div class="nav-bar__logo">
            <div class="nav-bar__inner">
                <img class="nav-bar__logo-icon" src="/assets/images/perigonLogo.png">
            </div>
        </div>
    
        <div class="nav-bar__mobileIcon">
            <div class="nav-bar__mobileIconInner">
                <div class="nav-bar__burgerIcon"></div>
            </div>
        </div>
    
        <div class="nav-bar__menu d-desktop">
            
            <ul class="nav-bar__list">
    
                <li class="nav-bar__listItem">
                    <a class="nav-bar__link" href="#">Values</a>
                    <ul class="nav-bar__dropdown">
                        <li class="nav-bar__dropdownItem"><a class="nav-bar__dropdownLink" href="#">List Item One</a></li>
                        <li class="nav-bar__dropdownItem"><a class="nav-bar__dropdownLink" href="#">List Item Two</a></li>
                        <li class="nav-bar__dropdownItem"><a class="nav-bar__dropdownLink" href="#">List Item Three</a></li>      
                    </ul>
                </li>
    
    
                <li class="nav-bar__listItem">
                    <a class="nav-bar__link" href="#">Pillars</a>
                </li>
    
                <li class="nav-bar__listItem">
                    <a class="nav-bar__link" href="#">Technology</a>
                </li>
        
                <li class="nav-bar__listItem">
                    <a class="nav-bar__link" href="case-studies-archive.html">Case Studies</a>
                </li>
            
                <li class="nav-bar__listItem">
                    <a class="nav-bar__link" href="contact.html">Contact</a>
                </li>
          
            </ul>
        </div>
    </div>
</nav>

<div class="wrapper-stretched">
    <div class="nav-bar__mobileMenu d-mobile">
        
        <ul class="nav-bar__mobileList">
            <li class="nav-bar__mobileListItem">
                <a class="nav-bar__mobileLink" href="#">Values</a>
                <ul class="nav-bar__mobileDropdown">
                    <li class="nav-bar__mobileDropdownItem"><a class="nav-bar__mobileDropdownLink" href="#">List Item One</a></li>
                    <li class="nav-bar__mobileDropdownItem"><a class="nav-bar__mobileDropdownLink" href="#">List Item Two</a></li>
                    <li class="nav-bar__mobileDropdownItem"><a class="nav-bar__mobileDropdownLink" href="#">List Item Three</a></li>    
                </ul>
            </li>

            <li class="nav-bar__mobileListItem"><a class="nav-bar__mobileLink" href="#">Pillars</a></li>

            <li class="nav-bar__mobileListItem"><a class="nav-bar__mobileLink" href="#">Technology</a></li>
            
            <li class="nav-bar__mobileListItem">
                <a class="nav-bar__mobileLink" href="case-studies-archive.html">Case Studies</a>
            </li>
            
            <li class="nav-bar__mobileListItem">
                <a class="nav-bar__mobileLink" href="contact.html">Contact</a> 
            </li>
        </ul>
    </div>
</div>