
<!-- SERVICES ROW - START -->
<section id="services" class="services-row d-flex wrapper-stretched">
    <div class="wrapper-full services-row__ie-fixed-width">
        <div class="services-row__row d-flex d-flex-wrap">
            <div class="services-row__serviceBox d-flex">
                <h3 class="services-row__heading text-header pb-1 mb-3 text__underline">SERVICES</h3>
                <div class="services-row__switchBox d-flex">
                    
                    <div class="services-row__switch d-flex"><a class="services-row__link d-flex" href="#tab1"><h4 class="services-row__service text-subheading">Chemical Free Cleaning</h4><img class="services-row__icon lazy" data-src="/assets/images/svg/right-arrow.svg"></a></div>
                    <div class="services-row__switch d-flex"><a class="services-row__link d-flex" href="#tab2"><h4 class="services-row__service text-subheading">Robotic Cleaning</h4><img class="services-row__icon lazy" data-src="/assets/images/svg/right-arrow.svg"></a></div>
                    <div class="services-row__switch d-flex"><a class="services-row__link d-flex" href="#tab3"><h4 class="services-row__service text-subheading">UV Cleaning</h4><img class="services-row__icon lazy" data-src="/assets/images/svg/right-arrow.svg"></a></div>
                    <div class="services-row__switch d-flex"><a class="services-row__link d-flex" href="#tab4"><h4 class="services-row__service text-subheading">ImOP…</h4><img class="services-row__icon lazy" data-src="/assets/images/svg/right-arrow.svg"></a></div>
                </div>
            </div>
            
            <div class="services-row__main-wrapper">
                
                <div id="tab1" class="services-row__contentBox">
                    <div class="services-row__content">
                        <div class="services-row__header  d-flex">
                            <div class="services-row__img">
                                <img src="https://via.placeholder.com/54x54" alt="">
                            </div>
                            <div class="services-row__header__copy">
                                <h4 class="services-row__contentHeader text-subheading mb-1 mb-lg-1">Chemical Free Cleaning</h4>
                                <p class="paragraph-small color-gray mb-3">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy</p>
                            </div>
                        </div>
                        <p class="mb-2">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. </p>
                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor.</p>
                    </div>
                </div>

                <div id="tab2" class="services-row__contentBox">
                    <div class="services-row__content">
                        <div class="services-row__header  d-flex">
                            <div class="services-row__img">
                                <img src="https://via.placeholder.com/54x54" alt="">
                            </div>
                            <div class="services-row__header__copy">
                                <h4 class="services-row__contentHeader text-subheading mb-1 mb-lg-1">Robotic Cleaning</h4>
                                <p class="paragraph-small color-gray mb-3">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy</p>
                            </div>
                        </div>
                        <p class="mb-2">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. </p>
                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor.</p>
                    </div>
                </div>

                <div id="tab3" class="services-row__contentBox">
                    <div class="services-row__content">
                        <div class="services-row__header  d-flex">
                            <div class="services-row__img">
                                <img src="https://via.placeholder.com/54x54" alt="">
                            </div>
                            <div class="services-row__header__copy">
                                <h4 class="services-row__contentHeader text-subheading mb-1 mb-lg-1">UV Cleaning</h4>
                                <p class="paragraph-small color-gray mb-3">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy</p>
                            </div>
                        </div>
                        <p class="mb-2">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. </p>
                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor.</p>
                    </div>
                </div>

                <div id="tab4" class="services-row__contentBox">
                    <div class="services-row__content">
                        <div class="services-row__header  d-flex">
                            <div class="services-row__img">
                                <img src="https://via.placeholder.com/54x54" alt="">
                            </div>
                            <div class="services-row__header__copy">
                                <h4 class="services-row__contentHeader text-subheading mb-1 mb-lg-1">ImOP...</h4>
                                <p class="paragraph-small color-gray mb-3">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy</p>
                            </div>
                        </div>
                        <p class="mb-2">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. </p>
                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</section>
<!-- SERVICES ROW - END -->