
<section class="standard-row d-flex d-flex-wrap">
        
    <div class="standard-row__box standard-row__copy">
        <div class="standard-row__content">
            <h3 class="text-header pb-2 pb-lg-4 mb-4 mb-lg-3 text__underline">EXAMPLE HEADING</h3>
            <p class="mb-4">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
            <a class="u-btn" href="#">FIND OUT MORE</a>
        </div>      
    </div>
    
    <div class="standard-row__box standard-row__media">
        <img class="standard-row__image img-fluid lazy" data-src="https://via.placeholder.com/800x600" alt="">
    </div>

</section>

<section class="standard-row standard-row--reverse d-flex d-flex-wrap">
        
    <div class="standard-row__box standard-row__copy">
        <div class="standard-row__content">
            <h3 class="text-header pb-2 pb-lg-4 mb-4 mb-lg-3 text__underline">EXAMPLE HEADING</h3>
            <p class="mb-4">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
            <a class="u-btn" href="#">FIND OUT MORE</a>
        </div>      
    </div>
    
    <div class="standard-row__box standard-row__media">
        <img class="standard-row__image img-fluid lazy" data-src="https://via.placeholder.com/600x420" alt="">
    </div>

</section>
