
<!-- VIDEO ROW - START -->
<section class="video-row">
    <div class="video-row__row d-flex d-flex-wrap">
        <div class="video-row__box">
            <div class="video-row__content mb-1">
                <h2 class="text-header mb-4 pb-2 pb-lg-4 text__underline">Example Heading</h2>
                <p class="mb-4">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
                <a href="#" class="u-btn">FIND OUT MORE</a>
            </div>
        </div>
    
        <div class="video-row__box">
            <div class="video-row__responsive-media">
                <!-- iframe default (width: 640, height: 360)-->
                <iframe src="https://player.vimeo.com/video/253989945?color=ef0800&title=0&byline=0&portrait=0" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
            </div>
            <!-- <img class="video-row__media img-fluid lazy" data-src="https://via.placeholder.com/600x420" alt="video"> -->
        </div>
    </div>
</section>
<!-- VIDEO ROW - END -->