
<!-- VIDEO FULL - START -->
<div class="video-full">
    <!-- <video class="video-row__media"> -->
    <div class="video-full__responsive-media">
        <!-- iframe default (width: 640, height: 360)-->
        <iframe src="https://player.vimeo.com/video/253989945?color=ef0800&title=0&byline=0&portrait=0" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
    </div>
    <!-- <img class="video-full__media img-fluid lazy" data-src="https://via.placeholder.com/1200x660" alt="video-full"> -->
</div>
<!-- VIDEO FULL - END -->

