// ==========================================================================
// # BANNER / PARTIAL
// ==========================================================================

.banner-row {
    height: 438px;
    overflow: hidden;
    margin-top: 50px;
    margin-bottom: 50px;
    position: relative;

    @include bp (medium) {
        margin-top: 70px;
        margin-bottom: 70px;
    }
    

    @include bp (large) {
        margin-top: 90px;
        margin-bottom: 90px;
    }
}

.banner-row__inner {
    position: relative; 
}

.banner-row__image {
    height: 100%;
    object-fit: cover;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    z-index: $z-lvl-1;

    @include bp (medium){
        height: auto;
    }
}

.banner-row__wrapper {
    height: 438px;
    position: relative;
    z-index: $z-lvl-3;
}

.banner-row__content {
    max-width: 578px;
}

.banner-row__dark {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: $z-lvl-2;
    background-color: $color-bg-black;
    opacity: 0.6;
}

