// ==========================================================================
// # CAROUSEL / PARTIAL
// ==========================================================================

.carousel-row {
    position: relative;
    background-color: $color-bg-gray-2;
    padding-bottom: 40px;
    margin-bottom: 40px;

    @include bp(large) {
        padding-bottom: 0;
    }   
}

.carousel-row__image {
    margin: 50px 0 50px 0;
    position: relative;

    .carousel-row__list {
            overflow: hidden;
            height: 100%;
    }
    
    .slick-dots {
        display: none !important;

        li { 

            button {
                text-indent: -9999px;
                overflow: hidden;
                border-radius: 999px;
                width: 8px;
                height: 14px;
                border: 1px solid white;
                outline: none;
                background: transparent;
            }

            &.slick-active {

                button {
                    background-color: $color-bg-white;
                }
            }
        }
    }

    .carousel-row__prev {
        position: absolute;
        z-index: $z-lvl-2;
        left: calc(50% - 30px);
        transform: translateX(-50%);
        bottom: 30px;
    }
    
    .carousel-row__next {
        position: absolute;
        z-index: $z-lvl-2;
        right: calc(50% - 30px);
        transform: translateX(50%);
        bottom: 30px;
        
    }
    
    .carousel-row__arrow {
        // background-color: $color-secondary;
        background-color: rgba(255, 255, 255, .5);
        padding: 10px 13px;
        border-radius: 10px;
    }
    
    .slick-list{
        height: 100%;
    }
        
    .slick-track {
        height: 100%;
        display: flex;
    }
    
    .slick-slide {
        height: 100%;
    
        div {
            height: 100%;
        }
    
        .carousel-row__img {
            height: 100%;
            object-fit: cover;
        }
    }
    
    @include bp (large) {
        margin: 0;
        position: absolute;
        top: 0;
        right: 0;
        width: 50%;
        height: 100%;

        .slick-dots {
            padding: 0;
            margin: 0;
            display: flex !important;
            list-style: none;
            position: absolute;
            bottom: 30px;
            left: 50%;
            transform: translateX(-50%);  
            min-width: 100px;
            justify-content: space-around;

            li {
                display: block;
                padding: 0 8px;
            }
        }

        .carousel-row__prev,
        .carousel-row__next {
            bottom: 70px;
        }

        .carousel-row__arrow {
            padding: 16px 19px;
        }
    }
}

.carousel-row__box {
    width: 100%;
    margin-bottom: 30px;

    @include bp (large) {
        width: 50%;
        margin-bottom: 0;
        padding: 170px 0px;
    }
}

.carousel-row__inner {
    margin-right: 30px;
    max-width: 400px;
}