.case-studies {
    background-color: $color-bg-gray-2;
}

.case-studies__intro {
    padding-top: 48px;
    max-width: 536px;
    
}

.case-studies__content {
    padding-bottom: 44px;
}   

.case-studies__margin-bottom {
    margin-bottom: 40px;

    @include bp (large) {
        margin-bottom: 16px;
    }
}