// ==========================================================================
// # CONTACT / STATIC
// ==========================================================================

.contact-page {
    position: relative;
    padding-top: 30px;
    padding-bottom: 64px;
}

.contact-page__bg {
    display: none;

    @include bp (large) {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        width: 50%;
    }
}

.contact-page__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contact-page__column {
    width: 100%;

    @include bp (medium) {
        width: 50%;
    }
}

.contact-page__center {
    text-align: center;
    display: flex;
    justify-content: center;

    @include bp (large) {
        text-align: left;
        display: block;
        justify-content: flex-start;
    }
}

.contact-page__content {
    width: 100%;
    
    @include bp (large) {
        max-width: 400px;
    }
}

.contact-page__textarea {
    resize: none;
    width: calc(100% - 20px);
    height: 124px;
    padding: 10px 10px;
    font-size: 1.1rem;
    border: 1px solid $color-border-gray;
    border-radius: $textarea-radius;

    @include bp (xlarge) {
        font-size: 1.125rem;
    }
}

.contact-page__checkboxRow {
    margin-top: 16px;
}

