// ==========================================================================
// # FEATURE CARDS / PARTIAL
// ==========================================================================

.feature-cards {
    background: $color-bg-white;
    background: linear-gradient(0deg, rgba(255,255,255,1) 50%, rgba(248,249,250,1) 50%);
    padding: 50px 0 20px;

    @include bp (large) {
        padding: 80px 0;
    }
}

.feature-cards__expand {
    flex-direction: column;
    align-items: center;
    
    @include bp (xlarge) {
        justify-content: flex-start;
        flex-direction: row;
        margin: 0 -8px;
        align-items: stretch;
    }
}

.feature-cards__box {
    width: 100%;
    margin-bottom: 40px;
    background-color: $color-bg-white;
    border-radius: $global-radius;
    box-shadow: 0px 3px 40px rgba(128,193,204,0.2);
    
    @include bp (medium) {
        width: 70%;
    }

    @include bp (xlarge) {
        width: calc(33.33% - 14px);
        margin: 7px;
        align-self: stretch;
    }
}

.feature-cards__inner {
    padding: 34px 30px 35px 35px;
}

.feature-cards__bg {
    background-color: $color-bg-white;
    height: 100%;
}

.feature-cards__cta {
    color: $color-text-blue;
    align-items: center;
    transition: $global-transition;

    @include bp (large) {
        &:hover {
            color: $color-primary-hover;
    
            .feature-cards__icon {
                transform: translateX(10px);
                transition: $global-transition;
            }
        }
    }
    
    .feature-cards__icon {
        transition: $global-transition;
        transform: translateX(0);
    }
}

.feature-cards__icon {
    width: 25px;
    height: 20px;
    margin-left: 15px;
    margin-bottom: 2px;
}
