// ==========================================================================
// # FLEX ROW HEADER
// ==========================================================================


.flex-row-header {
    position: relative;
    overflow: hidden;
}

.flex-row-header__img{
    width: 100%;
    max-height: 420px;
    height: 100%;
    object-fit: cover;
    position: absolute;
    left: 0;
    right: 0;
    z-index: $z-lvl-1;

    @include bp (large) {
        height: auto;
    }
}

.flex-row-header__content {
    padding: 40px 0 40px 0;
    width: 100%;
    position: relative;
    z-index: $z-lvl-2;

    @include bp (large) {
        width: 60%;
        padding: 80px 0 80px 0;
    }
}