// ==========================================================================
// # FOOTER / STATIC
// ==========================================================================

.footer {
    background-color: $color-bg-black-2;
    padding: 16px 0 22px 0;
}

.footer__column-one {
    width: 100%;
    justify-content: center;

    @include bp (large) {
        width: 25%;
        align-items: center;
        justify-content: flex-start;
    }
}

.footer__image {
    justify-content: center;
}

.footer__img {
    width: 123px;
}

.footer__column-two {
    width: 100%;
    margin-top: 30px;

    @include bp (large) {
        justify-content: center;
        width: 50%;
        align-items: center;
        margin-top: 0;
    }
}

.footer__menu {
    width: 100%;
}

.footer__list {
    color: $color-text-white;
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: center;

    @include bp (large) {
        justify-content: space-around; 
    }
}

.footer__item {
    padding: 15px;
    position: relative;

    @include bp (large) {
        padding: 0;
    }

    @include underline()
}

.footer__link {
    white-space: nowrap;
    font-family: $gothic-bold;
}

.footer__column-three {
    width: 100%;
    justify-content: center;
    margin-top: 30px;

    @include bp (large) {
        //330px width
        justify-content: flex-end;
        width: 25%;
        margin-top: 0;
    }
}

.footer__social {
    display: flex;
    width: 50%;
    justify-content: space-around;

    @include bp (medium) {
        width: 30%;
    }

    @include bp (large) {
        width: 50%;
        display: flex;
        align-items: center;
    }
}

.footer__icon {
    max-width: 25px;
    max-height: 25px;
}

.footer__tw:hover path {
    fill: $color-bg-tw;
}

.footer__lin:hover path {
    fill: $color-bg-lin;
}

.footer__fb:hover path {
    fill: $color-bg-fb;
}

.footer__tw path,
.footer__lin path,
.footer__fb path {
    transition: $global-transition;
}

.footer__bottom-row {
    margin-top: 16px;
    padding-top: 16px;
    border-top: 1px solid $color-border-gray;
    justify-content: space-between;
}

.footer__paragraphLink {

    @include bp (large) {
        &:hover {
            color: $color-text-white;
            transition: $global-transition;
        }
    }
    
}