// ==========================================================================
// # FORM ROW / PARTIAL
// ==========================================================================

.form-row {
    background-color: $color-bg-gray-2;
}

.form-row__row {
    flex-direction: column;
    padding: 30px 0;

    @include bp (medium) {
        padding: 40px 0;
    }

    @include bp (large) {
        flex-direction: row;
        padding: 66px 0;
        justify-content: space-between;
    }
}

.form-row__infoColumn {
    width: 100%;
    margin-bottom: 30px;

    @include bp (large) {
        width: 40%;
    }   
}

.form-row__info {
    @include bp (large) {
        margin-right: 80px;
    }   
}

.form-row__cta {
    align-items: center;
    margin-bottom: 10px;
}

.form-row__icon {
    max-width: 18px;
    max-height: 18px;
    margin-right: 8px;
    // margin-top: 5px;
    

    @include bp (large)  {
        // margin-top: 9px;
        margin-right: 14px;
    }
}

.form-row__formColumn {
    width: 100%;

    @include bp (large) {
        width: 60%;
    }
    
}

.form-row__box {
    width: 100%;

    @include bp (medium) {
        flex: 1;
    }
}

.form-row__box--spacing-medium {

    @include bp (medium){
        margin-right: 20px;
        margin-bottom: 0;
    }
}

