// ==========================================================================
// # GALLERY / PARTIAL
// ==========================================================================

.gallery {
    margin-bottom: 45px;

    @include bp (large) {
        margin-bottom: 80px;
    }
}

.gallery__box {
    margin-bottom: 16px;
    width: 100%;
    justify-content: center;

    @include bp (medium) {
        margin: 0 16px 16px 0;
        max-width: calc(50% - 16px);
    }

    @include bp (xlarge) {
        margin: 0 16px 16px 0;
        width: calc(33.33% - 16px);
    }
}

.gallery__image {
    border-radius: $global-radius;
    object-fit: cover;

    @include bp (medium) {
        max-width: 600px;
        max-height: 600px;
    }

    @include bp (xlarge) {
        max-width: 400px;
        max-height: 400px;
    }
}

