// ==========================================================================
// # HEAVY CONTENT / PARTIAL
// ==========================================================================

.heavy-content {
    border-top: 1px solid $color-border-primary;
    padding-top: 40px;
    margin-bottom: 10px;

    @include bp (large) {
        margin-bottom: 40px;
        padding-top: 25.5px;
    }
}

.heavy-content__header {
    width: 100%;
    margin-bottom: 30px;

    @include bp (xlarge) {
        width: calc(37% - 47px);
        margin-right: 47px;
    }
}

.heavy-content__copy {
    width: 100%;

    @include bp (xlarge) {
        width: calc(63% - 20px);
        margin-left: 20px;
    }
}