// ==========================================================================
// # HOMEPAGE HEADER
// ==========================================================================

.homepage-header {
    position: relative;
}

.homepage-header__row {
    padding: 60px 0;
}

.homepage-header__bg {
    
    @include bp (large) {
        position: absolute;
        background: url("https://via.placeholder.com/540x660");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        top: 0;
        right: 0;
        width: calc(50% - 200px);
        height: 100%;
    }
}

.homepage-header__column {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 40px;

    @include bp (large) {
        width: 50%;
    }
}

.homepage-header__content {
    max-width: 550px;
    padding-right: 40px;
}

.homepage-header__blueColumn {
    width: 100%;

    @include bp (large) {
        width: 50%;
    }
    
}

.homepage-header__inner {
    height: 100%;
    width: 100%;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    z-index: $z-lvl-2; 

    @include bp (large) {
        align-items: flex-end;
    }
}

.homepage-header__box {
    width: 100%;
    background-color: $color-bg-white;
    box-shadow: 0px 3px 50px rgba(128,193,204,0.2);
    border-radius: $global-radius;

}

.homepage-header__boxInner {
    padding: 40px 20px;
    align-items: center;

    @include bp (large) {
        padding: 50px 40px;
    }
}

.homepage-header__image {
    max-width: 55px;
    max-height: 55px;
}