// ==========================================================================
// # LINKS ROW / PARTIAL
// ==========================================================================


/* Main Container
   ========================================================================== */
.links-row {
    margin-bottom: 80px;
}

.links-row__row {
    flex-direction: column;
    align-items: center;

    @include bp (large) {
        flex-direction: row;
        align-items: stretch;
    }
}

/* Main Header
   ========================================================================== */

.links-row__header{
    text-align: center;

    @include bp (large) {
        text-align: left;
    }
}

/* Cards
   ========================================================================== */

.links-row__box {
    border-radius: $global-radius;
    width: 100%;
    flex-direction: column;
    min-height: 480px;
    overflow: hidden;
    box-shadow: 0px 3px 40px rgba(128,193,204,0.2);
    margin-bottom: 40px;

    @include bp (medium) {
        width: 75%;
    }

    @include bp (large) {
        width: calc(33.33% - 16px);
        margin-right: 16px;
        margin-bottom: 0;
    }
}

/* Card Content
   ========================================================================== */

.links-row__media {
    height: 45%;
}

.links-row__image {
    height: 100%;
    object-fit: cover;
}

.links-row__content{
    height: 55%;
    background-color: $color-bg-white;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 30px;
    flex: 1;

    @include bp (large) {
        flex: 0 1 auto;
    } 
}

.links-row__cta {
    color: $color-text-blue;
    transition: $global-transition;
    align-items: center;

    .links-row__icon {
        transform: translateX(0);
        transition: $global-transition;
    }

    @include bp (large) {
        
        &:hover{
            color: $color-primary-hover;
    
            .links-row__icon {
                transform: translateX(10px);
                transition: $global-transition;
            }
        }
    }

}

.links-row__icon {
    width: 25px;
    height: 20px;
    margin-left: 15px;
    margin-bottom: 2px;
}

/* Blue Card
   ========================================================================== */

.links-row__blueBox {
    width: 100%;
    background: url("https://via.placeholder.com/390x460");
    border-radius: $global-radius;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @include bp (medium) {
        width: 75%;
    }

    @include bp (large) {
        width: 33%;
    }
}

.links-row__blue__text {
    text-align: center;
    padding: 120px 40px;

    @include bp (large) {
        padding: 40px 40px;
    }
}