// ==========================================================================
// # NAVIGATION / STATIC
// ==========================================================================

.nav-bar__nav {
    position: fixed;
    background-color: $color-bg-white;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    margin-bottom: 0;
    padding: 20px 0;
    z-index: $z-lvl-4;

    @include bp (large) {
        height: 109px;
        padding: 0;
    }
}

.nav-bar__nav-inner {
    height: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
    flex-wrap: wrap;
}

.nav-bar__inner {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0;

    @include bp (large) {
        justify-content: center;
    }
}

.nav-bar__logo {
    display: flex;
    align-items: center;
}

.nav-bar__logo-icon {
    width: 80px;

    @include bp (large) {
        width: 106px;
    }
}

.nav-bar__menu {
    display: none;

    @include bp (large) {
        display: flex;
    }
}

.nav-bar__list {
    padding: 0;
    margin: 0;
    list-style: none;
    width: 100%;
    // flex: 1;
    display: flex;
    justify-content: space-between;
}

.nav-bar__listItem {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 20px;
    cursor: pointer;
    white-space: nowrap;
    font-family: $gothic-bold;

    &:hover {
        .nav-bar__dropdown {
            display: block;
        }

        .nav-bar__link{
            color: $color-text-blue;
            transition: $global-transition;
        }   
    }
}

.nav-bar__link{
    height: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.nav-bar__dropdown {
    padding: 0;
    margin: 0;
    position: absolute;
    display: none;
    flex-direction: column;
    left: 0;
    top: 100%;
    min-width: 180px;
    z-index: $z-lvl-3;
    background-color: $color-bg-gray-2;
}

.nav-bar__dropdownItem {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: $color-bg-gray-2;
}


.nav-bar__dropdownLink {
    padding: 14px 0 14px 20px;
    width: 100%;
    display: block;
}

.nav-bar__dropdownItem:hover{
    background-color: rgba(0, 174, 200, .1);    
    color: $color-text-blue;
}

/* Desktop and Mobile button styling for last item on the list
   ========================================================================== */

.nav-bar__listItem:last-child {
    cursor: auto;
}

.nav-bar__listItem:last-child .nav-bar__link,
.nav-bar__mobileListItem:last-child .nav-bar__mobileLink {
    height: auto;
    color: $color-text-white;
    border-radius: $btn-radius;
    background: $color-bg-primary;
    transition: $global-transition;
    border: 2px solid $color-border-primary;
    display: inline-block;
    white-space: nowrap;
    padding: 10px 30px 11px 30px;

    &:hover {
        border: 2px solid $color-border-primary-hover;
        background: $color-bg-primary-hover;
    }

    @include bp (large) {
        padding: 11px 23px 12px 23px;
    }
}

/* Mobile Nav Classes
   ========================================================================== */

.nav-bar__mobileIcon {
    display: flex;
    align-items: center;
    margin-bottom: 9px;

    @include bp (large) {
        display: none;  
    }

    &.toggle {
        .nav-bar__mobileIconInner {
            .nav-bar__burgerIcon {
                background: transparent;
                box-shadow: 0 2px 5px rgba(0, 0, 0, 0);

                &:before{
                    top: 0;
                    transform: rotate(45deg);
                }

                &:after{
                    top: 0;
                    transform:rotate(135deg);
                }
            }
        }
    }
}

.nav-bar__mobileIconInner {
    width: $burger-icon-width;
    height: 28px;
    position: relative;
    cursor: pointer;

    @include bp (large) {
        display: none;
    }
}

.nav-bar__burgerIcon {
    top: 50%;
    left: 0;
    width: $burger-icon-width;
    height: 3px;
    background: $color-bg-primary;
    position: absolute;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
    transition: $global-transition;
    z-index: $z-lvl-3;

    &:before {
        top: -14px;
    }

    &:after {
        bottom: -14px;
    }
}

.nav-bar__burgerIcon:before,
.nav-bar__burgerIcon:after {
  content: '';
  position:absolute;
  width: $burger-icon-width;
  height: 3px;
  background:$color-bg-primary;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: $global-transition;
}

.nav-bar__mobileMenu {
    width: 100%;
    display: none;
    position: fixed;
    top: 100px;
    z-index: $z-lvl-4;
}

.nav-bar__mobileList {
    padding: 0;
    margin: 0;
    list-style: none;
    background-color: #DFF2F5;
}

.nav-bar__mobileListItem {
    padding: 20px 0 20px 20px;

    &:first-child {
        padding: 25px 0 20px 20px;
    }

    &:last-child{
        padding: 20px 0 25px 20px;
    }
}

.nav-bar__mobileDropdown {
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
}

.nav-bar__mobileDropdownItem {
    padding: 20px 0 20px 20px;

    &:first-child {
        padding: 25px 0 20px 20px;
    }

    &:last-child {
        padding: 20px 0 0 20px;
    }
}

.nav-bar__has-child {
    .nav-bar__mobileLink {
        position: relative;
    
        &:after { // SVG default (width: 19, height: 11)
            content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='19' height='11'%3E%3Cg data-name='Down arrow'%3E%3Cpath data-name='Path 7' d='M19 1.386L17.663 0 9.485 8.267l-.868-.878L1.358.04 0 1.406C2.011 3.44 7.606 9.106 9.485 11c1.398-1.4.04-.03 9.515-9.614z' fill='%2300AEC8'/%3E%3C/g%3E%3C/svg%3E");
            display: inline-block;
            position: absolute;
            transition: $global-transition;
            top: -2px;
            right: -40px;
        }
    }
}

.nav-bar__has-child.active {
    background-color: #cfe5e8;
    
    .nav-bar__mobileLink {
        &:after {
            transform: rotate(180deg);
        }
    }
}
