// ==========================================================================
// # OUR PILLARS / COMPONENT
// ==========================================================================

.our-pillars {
    position: relative;
}

.our-pillars__bg {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(149,166,176,0.07);
    height: 100%;
    width: 100%;

    @include bp (large) {
        height: 80%;
    }
}

.our-pillars__row {
    position: relative;
    z-index: $z-lvl-1;
    padding: 70px 0;
}

.our-pillars__left-column {
    width: 100%;

    @include bp (large) {
        width: 38%;
    }
}

.our-pillars__right-column {
    width: 100%;
    margin-top: 50px;

    @include bp (large) {
        width: 62%;
    }
}

.our-pillars__content {
    padding-top: 0;
    max-width: 300px;

    @include bp (large) {
        padding-top: 70px;
    }
}

.our-pillars__box {
    margin-bottom: 20px;
    margin-right: 0;
    width: 100%;
    box-shadow: 0px 3px 40px rgba(128,193,204,0.2);
    background-color: $color-bg-white; 
    border-radius: $global-radius;

    @include bp (medium) {
        width: calc(50% - 16px);
        margin-bottom: 16px;
        margin-right: 16px;
    }
}

.our-pillars__box-content {
    padding: 25px 21px 26px 26px;
    flex-direction: column;
    justify-content: space-between;

    @include bp (medium) {
        height: calc(100% - 69px);  
        padding: 34px 30px 35px 35px;
    }
}

.our-pillars__inner {
    margin-bottom: 26px;
}

// .our-pillars__box-info {
//     margin-bottom: 26px;
// }

.our-pillars__img {
    width: 46px;
    height: 45px;
}

.our-pillars__cta {
    align-items: center;

    @include bp (large) {
        &:hover {

            .our-pillars__arrow {
                transform: translateX(25px);
            }
        }
    }
}

.cta--purple {
    color: #7A509D;

    .our-pillars__arrow path {
        fill: #7A509D;
    }
}

.cta--green {
    color: #6CBB85;

    .our-pillars__arrow path {
        fill: #6CBB85;
    }
}

.cta--pink {
    color: #BC539A;

    .our-pillars__arrow path {
        fill: #BC539A;
    }
}

.cta--blue {
    color: #7284B8;

    .our-pillars__arrow path {
        fill: #7284B8;
    }
}

.our-pillars__arrow {
    max-width: 20px;
    max-height: 20px;
    transform: translateX(15px);
    transition: $global-transition;
    margin-bottom: 1px;
}

