// ==========================================================================
// # SERVICES ROW / PARTIAL
// ==========================================================================

.services-row {
    margin-bottom: 30px;
    background-color: $color-bg-gray-2;

    @include bp (large) {
        margin-bottom: 60px;
    }
}

.services-row__ie-fixed-width{
    width: 100%;
}

.services-row__row {
    padding: 60px 0;
    justify-content: center;

    @include bp (large) {
        padding: 90px 0;
    }

    @include bp (large){
        justify-content: flex-start;
    }    
}

.services-row__main-wrapper {
    width: 100%;
    width: calc(100%);
    background-color: $color-bg-white;
    border-radius: $global-radius;
    box-shadow: 0px 3px 30px rgba(128,193,204,0.2);
    padding: 40px 20px;
    border-top: 10px solid $color-bg-primary;

    @include bp (large) {
        padding: 40px 36px;
        width: calc(66.66% - 140px);
        margin-left: 50px;
    }
}

.services-row__serviceBox {
    flex-direction: column;
    width: 100%;
    margin-bottom: 30px;

    @include bp (large) {
        width: 33%;
    }
}

.services-row__header__copy {
    margin-left: 25px;   
}

.services-row__heading {
    flex: 1;
}

.services-row__switchBox {
     flex-direction: column;
     flex: 6;

}

.services-row__switch {
    flex: 1;
    border-bottom: 1px solid darkgrey;
    padding: 20px 0 20px;
    width: 100%;

    @include bp (medium) {
        width: 35%;
    }

    @include bp (large) {
        padding: 0;
        width: 100%;
    }

}

.services-row__link {
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .services-row__icon {
        transform: translateX(0);
        transition: $global-transition;
    }

    .services-row__service {
        transition: $global-transition;
    }


    &.active{
        .services-row__service {
            color: $color-text-blue;
            transition: $global-transition;
        }
    }

    &:hover{
        .services-row__service {
            color: $color-text-blue;
            transition: $global-transition;
        }

        .services-row__icon {
            transform: translateX(-5px);
            transition: $global-transition;
        }
    }
}

.services-row__icon {
    display: none;

    @include bp (large) {
        display: block;
        transform: translateX(-15px);
        width: 25px;
        height: 20px;
    }
}