// ==========================================================================
// # SPACING ROW / PARTIAL
// ==========================================================================

$spacing-units: (20, 40, 60, 80, 100, 120);

@each $unit in $spacing-units {
    .space-#{$unit} {
      padding-bottom: #{$unit}px;

        &.mobile {
            padding-bottom: #{$unit / 2}px;
        }

        @include bp (large) {

            &.mobile {
                padding-bottom: #{$unit}px;
            }
        }
    }
}
