/* ==========================================================================
   #STANDARD ROW / COMPONENT
   ========================================================================== */

.standard-row {
    justify-content: space-between;
    
    @include bp (large) {
        margin-top: 40px;
        margin-bottom: 88px;
    }
}

.standard-row__box {
    width: 100%;

    @include bp (large) {
        width: 50%;
    }
}

.standard-row__copy {
    margin-bottom: 38px;

    @include bp (medium) {
        margin-bottom: 10px;
    }
}


.standard-row__content {
    max-width: 400px;
    padding: 40px 0 5px;

    @include bp (medium) {
        padding: 75px 0 60px;
    }
}

.standard-row__image {
    border-radius: $global-radius;
    object-fit: cover;
    width: 100%;
    height: 100%;
}


/* Reverse styles
   ========================================================================== */  

.standard-row--reverse {
    .standard-row__copy {
        order: 0;

        @include bp (large) {
            order: 2;
        }
    }

    .standard-row__content { 

        @include bp (large) {
            margin-left: 109px;
        }
    }

    .standard-row__image {
        order: 2;

        @include bp (large) {
            order: 0;
        }
    }
}