// ==========================================================================
// # VIDEO ROW / PARTIAL
// ==========================================================================

.video-row__row {
    align-items: center;
}

.video-row__box {
    margin-top: 20px;
    width: 100%;
    margin-bottom: 10px;

    @include bp (large) {
        margin-top: 40px;
        margin-bottom: 40px;
        width: 50%;
    }
}

.video-row__content {
    max-width: 390px;
}

.video-row__responsive-media {
    overflow: hidden;
    padding-bottom: 57.25%;
    position: relative;
    height: 0;
    border-radius: $global-radius;
}
.video-row__responsive-media iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}