// ==========================================================================
// #GLOBAL
// ==========================================================================
// The global settings file contains any project-wide variables; things that
// need to be made available to the entire codebase.

$global-radius: 21px !default;
$textarea-radius: 10px;
$btn-radius: 37px;
$icon-radius: 54px;
$global-opacity: 0.4;
$global-transition: all 200ms linear !default;

/* Fonts
   ========================================================================== */

$gothic: 'Gothic', Arial, sans-serif !default;
$gothic-bold: 'Gothic Bold', Arial, sans-serif;


/* Breakpoints
   ========================================================================== */

$breakpoints: (
  small: 480px,
  medium: 768px,
  large: 1024px,
  xlarge: 1280px,
  full: 1600px,
  retina: 2500px,
);

/* Colors
   ========================================================================== */

// Colors shouldn't be used directly but reassigned
$color-primary: #00AEC8;
$color-primary-hover: #008DA2;
$color-secondary: #B3FFFF;
$color-white: #fff;
$color-black: #000;
$color-black-2: #364A54;
$color-green: #35bc83;
$color-gray: #767676;
$color-gray-1: #f9f9f9;
$color-gray-2: #eeeeee;
$color-gray-3: #95A6B0;
$color-gray-4: #9AB7BA;
$color-gray-5: #F8F9FA;
$color-light-blue: #D9F3F7;
$color-cyan: #95DDE8;
$color-tw: #1DA1F2;
$color-lin: #2867B2;
$color-fb: #1877f2;

// Text
$color-text: $color-black-2;
$color-text-white: $color-white;
$color-heading: $color-black-2;
$color-text-gray: $color-gray-3;
$color-text-blue: $color-primary;

// Background
$color-bg: $color-gray-1;
$color-bg-primary: $color-primary;
$color-bg-primary-hover: $color-primary-hover;
$color-bg-green: $color-green;
$color-bg-black: $color-black;
$color-bg-black-2: $color-black-2;
$color-bg-white: $color-white;
$color-bg-gray: $color-gray-4;
$color-bg-gray-2: $color-gray-5;
$color-bg-light-blue: $color-light-blue;
$color-bg-cyan: $color-cyan;
$color-bg-tw: $color-tw;
$color-bg-lin: $color-lin;
$color-bg-fb: $color-fb;

// Borders
$color-border: $color-gray-2;
$color-border-primary: $color-primary;
$color-border-primary-hover: $color-primary-hover;
$color-border-gray: $color-gray-3;
$color-border-black: $color-black;
$color-border-light-blue: $color-light-blue;
$color-border-cyan: $color-cyan;

// Z-Index
$z-lvl-1: 100;
$z-lvl-2: 200;
$z-lvl-3: 300;
$z-lvl-4: 400;

// Font Family
$text-family: $gothic;
$heading-family: $gothic-bold;

// Width Values

$burger-icon-width: 36px;