<section class="case-studies wrapper-stretched">
    <div class="case-studies__content wrapper-full">
        <div class="case-studies__intro">
            <h1 class="banner-heading text__underline pb-3 mb-3">{{ title }}</h1>
            <p class="banner-paragraph mb-4">{{ text }}</p>     
        </div>

        <div class="links-row__row d-flex d-flex-wrap">
            <div class="case-studies__margin-bottom links-row__box d-flex">
                <div class="links-row__media">
                    <img class="links-row__image img-fluid lazy" data-src="https://via.placeholder.com/390x240">
                </div>
                <div class="links-row__content d-flex">
                    <div class="links-row__contentRow">
                        <h3 class="links-row__headline text-subheading mb-1">Case Study Name</h3>
                        <p class="links-row__paragraph mb-3">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
                    </div>
                    <div class="links-row__linkRow">
                        <a href="#" class="links-row__cta color-blue d-flex font-bold">FIND OUT MORE<img class="links-row__icon lazy" data-src="/assets/images/svg/right-arrow.svg"></a>
                    </div>
                </div>
            </div>
    
            <div class="case-studies__margin-bottom links-row__box d-flex">
                <div class="links-row__media">
                    <img class="links-row__image img-fluid lazy" data-src="https://via.placeholder.com/390x240">  
                </div>
                <div class="links-row__content d-flex">
                    <div class="links-row__contentRow">
                        <h3 class="links-row__headline text-subheading mb-1">Case Study Name</h3>
                        <p class="links-row__paragraph mb-3">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren.</p>
                    </div>
                    <div class="links-row__linkRow">
                        <a href="#" class="links-row__cta color-blue d-flex font-bold">FIND OUT MORE<img class="links-row__icon lazy" data-src="/assets/images/svg/right-arrow.svg"></a>
                    </div>
                </div>
            </div>

            <div class="case-studies__margin-bottom links-row__box d-flex">
                <div class="links-row__media">
                    <img class="links-row__image img-fluid lazy" data-src="https://via.placeholder.com/390x240">  
                </div>
                <div class="links-row__content d-flex">
                    <div class="links-row__contentRow">
                        <h3 class="links-row__headline text-subheading mb-1">Case Study Name</h3>
                        <p class="links-row__paragraph mb-3">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren.</p>
                    </div>
                    <div class="links-row__linkRow">
                        <a href="#" class="links-row__cta color-blue d-flex font-bold">FIND OUT MORE<img class="links-row__icon lazy" data-src="/assets/images/svg/right-arrow.svg"></a>
                    </div>
                </div>
            </div>

            <div class="case-studies__margin-bottom links-row__box d-flex">
                <div class="links-row__media">
                    <img class="links-row__image img-fluid lazy" data-src="https://via.placeholder.com/390x240">  
                </div>
                <div class="links-row__content d-flex">
                    <div class="links-row__contentRow">
                        <h3 class="links-row__headline text-subheading mb-1">Case Study Name</h3>
                        <p class="links-row__paragraph mb-3">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
                    </div>
                    <div class="links-row__linkRow">
                        <a href="#" class="links-row__cta color-blue d-flex font-bold">FIND OUT MORE<img class="links-row__icon lazy" data-src="/assets/images/svg/right-arrow.svg"></a>
                    </div>
                </div>
            </div>

            <div class="case-studies__margin-bottom links-row__box d-flex">
                <div class="links-row__media">
                    <img class="links-row__image img-fluid lazy" data-src="https://via.placeholder.com/390x240">  
                </div>
                <div class="links-row__content d-flex">
                    <div class="links-row__contentRow">
                        <h3 class="links-row__headline text-subheading mb-1">Case Study Name</h3>
                        <p class="links-row__paragraph mb-3">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren.</p>
                    </div>
                    <div class="links-row__linkRow">
                        <a href="#" class="links-row__cta color-blue d-flex font-bold">FIND OUT MORE<img class="links-row__icon lazy" data-src="/assets/images/svg/right-arrow.svg"></a>
                    </div>
                </div>
            </div>

            <div class="case-studies__margin-bottom links-row__box d-flex">
                <div class="links-row__media">
                    <img class="links-row__image img-fluid lazy" data-src="https://via.placeholder.com/390x240">  
                </div>
                <div class="links-row__content d-flex">
                    <div class="links-row__contentRow">
                        <h3 class="links-row__headline text-subheading mb-1">Case Study Name</h3>
                        <p class="links-row__paragraph mb-3">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren.</p>
                    </div>
                    <div class="links-row__linkRow">
                        <a href="#" class="links-row__cta color-blue d-flex font-bold">FIND OUT MORE<img class="links-row__icon lazy" data-src="/assets/images/svg/right-arrow.svg"></a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>