
<!-- FEATURE CARDS - START -->
<section class="feature-cards wrapper-stretched">

    <main class="wrapper-full">
        <div class="feature-cards__expand d-flex d-flex-wrap">
            <div class="feature-cards__box">
                <div class="feature-cards__inner">
                    <div class="feature-cards__bg">
                        <img class="mb-3 lazy" data-src="https://via.placeholder.com/46x45">
                        <h4 class="text-subheading mb-1 mb-lg-1">Stronger Together</h4>
                        <p class="mb-3">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et.</p>
                        <div class="feature-cards__link">
                            <a href="#" class="feature-cards__cta d-flex font-bold">FIND OUT MORE<img class="feature-cards__icon lazy" data-src="/assets/images/svg/right-arrow.svg"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="feature-cards__box">
                <div class="feature-cards__inner">
                    <div class="feature-cards__bg">
                        <img class="mb-3 lazy" data-src="https://via.placeholder.com/46x45">
                        <h4 class="text-subheading mb-1 mb-lg-1">Stronger Together Stronger Together siema</h4>
                        <p class="mb-3">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et.</p>
                        <div class="feature-cards__link">
                            <a href="#" class="feature-cards__cta d-flex font-bold">FIND OUT MORE<img class="feature-cards__icon lazy" data-src="/assets/images/svg/right-arrow.svg"></a>
                        </div> 
                    </div>
                </div>
            </div>
            <div class="feature-cards__box feature-cards__box--last-medium">
                <div class="feature-cards__inner">
                    <div class="feature-cards__bg">
                        <img class="mb-3 lazy" data-src="https://via.placeholder.com/46x45">
                        <h4 class="text-subheading mb-1 mb-lg-1">Stronger Together</h4>
                        <p class="mb-3">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et.</p>
                        <div class="feature-cards__link">
                            <a href="#" class="feature-cards__cta d-flex font-bold">FIND OUT MORE<img class="feature-cards__icon lazy" data-src="/assets/images/svg/right-arrow.svg"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</section>
<!-- FEATURE CARDS - END -->