
<!-- FLEX ROW HEADER - START -->
<section class="flex-row-header wrapper-stretched">
    <div class="flex-row-header__bg">
        <img class="flex-row-header__img lazy" data-src="assets/images/water.jpg">
    </div>
        <div class="wrapper-full">
            <div class="flex-row-header__row">
                <div class="flex-row-header__content">
                    <h1 class="banner-heading pb-lg-4 pb-3 mb-lg-4 mb-3 text__underline text__underline--wider">Example Page Heading</h1>
                    <p class="banner-paragraph">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut.</p>
                </div>
            </div>
        </div>
</section>
<!-- FLEX ROW HEADER - END -->