
<!-- FORM ROW - START -->
<section class="form-row wrapper-stretched">
    <div class="wrapper-full">
        <div class="form-row__row d-flex">
            <div class="form-row__infoColumn">
                <div class="form-row__info">
                    <h2 class="text-header mb-3 mb-lg-2">GET IN TOUCH TODAY</h2>
                    <p class="banner-paragraph mb-2">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat.</p>
                    <div class="form-row__link">
                        <a href="#" class="form-row__cta d-flex"><img class="form-row__icon lazy" data-src="/assets/images/svg/email.svg"><p class="banner-paragraph color-blue">email@emailaddress.co.uk</p></a>
                    </div>
                    <div class="form-row__link">
                        <a href="#" class="form-row__cta d-flex"><img class="form-row__icon lazy" data-src="/assets/images/svg/phone.svg"><p class="banner-paragraph color-blue">01234567890</p></a>
                    </div>
                </div>
            </div>
            <div class="form-row__formColumn">
                <form>
                    <div class="form-row__form d-flex d-flex-wrap mb-3">
                        <div class="form-row__box form-row__box--spacing-medium mr-lg-2 mb-3 mb-lg-0">
                            <input class="input__text input__text--larger" type="text" placeholder="Name">
                        </div>
                        <div class="form-row__box">
                            <input class="input__text input__text--larger" type="text" placeholder="Company">
                        </div>
                    </div>

                    <div class="form-row__form d-flex mb-3">
                        <div class="form-row__box">
                            <select class="input__text input__text--larger input__select">
                                <option disabled selected value="">Subject</option>
                                <option value="One">One</option>
                                <option value="Two">Two</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-row__form d-flex mb-3">
                        <div class="form-row__box">
                            <input class="input__text input__text--larger" type="text" placeholder="Message">
                        </div>
                    </div>

                    <input type="submit" class="submit-btn font-bold" value="SUBMIT">   
                </form>
            </div>
        </div>
    </div>
</section>
<!-- FORM ROW - END -->