
<section class="gallery">

    <h2 class="text-header mb-4 pb-2 pb-lg-4 text__underline">Gallery</h2>
    <div class="gallery__row">
        <div class="gallery__content d-flex d-flex-wrap">
            {# Gallery Elements Loop Starts Here  #}
            <div class="gallery__box d-flex">
                <img class="gallery__image img-fluid lazy" data-src="https://via.placeholder.com/500x700" alt="">
            </div>
    
            <div class="gallery__box d-flex">
                <img class="gallery__image img-fluid lazy" data-src="https://via.placeholder.com/300x400" alt="">
            </div>
    
            <div class="gallery__box d-flex">
                <img class="gallery__image img-fluid lazy" data-src="https://via.placeholder.com/400x600" alt="">
            </div>
    
            <div class="gallery__box d-flex">
                <img class="gallery__image img-fluid lazy" data-src="https://via.placeholder.com/800x600" alt="">
            </div>
    
            <div class="gallery__box d-flex">
                <img class="gallery__image img-fluid lazy" data-src="https://via.placeholder.com/800x600" alt="">
            </div>

            <div class="gallery__box d-flex">
                <img class="gallery__image img-fluid lazy" data-src="https://via.placeholder.com/800x600" alt="">
            </div>

        </div>
    </div>
</section>