
<!-- HOMEPAGE HEADER - START -->
<section class="homepage-header wrapper-stretched">
    <div class="homepage-header__bg"></div>
    <div class="homepage-header__row">
        <div class="wrapper-full d-flex d-flex-wrap">
            <div class="homepage-header__column d-flex">
                <div class="homepage-header__content">
                    <h1 class="banner-heading text__underline text__underline--wider pb-3 mb-3">Care, protect,<br> Clean.</h1>
                    <p class="banner-paragraph mb-4">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut.</p>
                    <div class="homepage-header__buttons">
                        <a href="#" class="u-btn mb-2 mr-2 mb-lg-0 mr-lg-2">FIND OUT MORE</a>
                        <a href="#" class="u-btn u-btn--light">FIND OUT MORE</a>
                    </div>
                </div>
            </div>

            <div class="homepage-header__blueColumn">
                <div class="homepage-header__inner d-flex">
                    <div class="homepage-header__box mb-2">
                        <div class="homepage-header__boxInner d-flex"> 
                            <img class="homepage-header__image mr-2 mr-lg-5 lazy" data-src="https://via.placeholder.com/55x55">
                            <div class="homepage-header__boxContent">
                                <h4 class="text-subheading mb-1">Clean</h4>
                                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy.</p>
                            </div>
                        </div>
                    </div>
                    <div class="homepage-header__box mb-2">
                        <div class="homepage-header__boxInner d-flex">
                            <img class="homepage-header__image mr-2 mr-lg-5 lazy" data-src="https://via.placeholder.com/55x55">
                            <div class="homepage-header__boxContent">
                                <h4 class="text-subheading mb-1">Protect</h4>
                                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy.</p>
                            </div>
                        </div>
                    </div>
                    <div class="homepage-header__box">
                        <div class="homepage-header__boxInner d-flex">
                            <img class="homepage-header__image mr-2 mr-lg-5 lazy" data-src="https://via.placeholder.com/55x55">
                            <div class="homepage-header__boxContent">
                                <h4 class="text-subheading mb-1">Care</h4>
                                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy.</p>    
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- HOMEPAGE HEADER - END -->