
<!-- LINKS ROW - START -->
<section class="links-row">
    <div class="links-row__header"><h2 class="text-header mb-4">Example Heading here</div>
    <div class="links-row__row d-flex">
        <div class="links-row__box d-flex">
            <div class="links-row__media">
                <img class="links-row__image img-fluid lazy" data-src="https://via.placeholder.com/390x240">
            </div>
            <div class="links-row__content d-flex">
                <div class="links-row__contentRow">
                    <h3 class="links-row__headline text-subheading mb-1">Chemical Free Cleaning</h3>
                    <p class="links-row__paragraph mb-3">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
                </div>
                <div class="links-row__linkRow">
                    <a href="#" class="links-row__cta color-blue d-flex font-bold">FIND OUT MORE<img class="links-row__icon lazy" data-src="/assets/images/svg/right-arrow.svg"></a>
                </div>
            </div>
        </div>

        <div class="links-row__box d-flex">
            <div class="links-row__media">
                <img class="links-row__image img-fluid lazy" data-src="https://via.placeholder.com/390x240">  
            </div>
            <div class="links-row__content d-flex">
                <div class="links-row__contentRow">
                    <h3 class="links-row__headline text-subheading mb-1">Chemical Free Cleaning</h3>
                    <p class="links-row__paragraph mb-3">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren.</p>
                </div>
                <div class="links-row__linkRow">
                    <a href="#" class="links-row__cta color-blue d-flex font-bold">FIND OUT MORE<img class="links-row__icon lazy" data-src="/assets/images/svg/right-arrow.svg"></a>
                </div>
            </div>
        </div>

        {# THIRD BOX #}
        <div class="links-row__blueBox d-flex d-flex-center u-text-center">
            <div class="links-row__blue__text">
                {# If Link Toggle  #}
                <h2 class="text-header color-white">CHEMICAL FREE CLEANING</h2>
                {# <a href="#" class="text-header color-white font-bold">CHEMICAL FREE CLEANING</a> #}
            </div>
        </div>

    </div>
</section>
<!-- LINKS ROW - END -->