<section class="our-pillars wrapper-stretched">
    <div class="our-pillars__bg"></div>
    <div class="wrapper-full">
        <div class="our-pillars__row d-flex d-flex-wrap">
            <div class="our-pillars__left-column">
                <div class="our-pillars__content">
                    <h4 class="text-subheading color-blue mb-1">Our Pillars</h4>
                    <h2 class="text-header text__underline text__underline--narrower pb-3 mb-3">What Makes Perigon Your choice</h2>
                    <p class="our-pillars__copy mb-3">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
                    <a href="#" class="u-btn">FIND OUT MORE</a>
                </div>
            </div>
    
            <div class="our-pillars__right-column d-flex d-flex-wrap">
                <div class="our-pillars__box">
                    <div class="our-pillars__box-content d-flex">
                        <div class="our-pillars__inner">
                            <img class="our-pillars__img lazy mb-3" data-src="http://via.placeholder.com/46x45">
                            <h4 class="text-subheading mb-1">Stronger Together</h4>
                            <p class="our-pillars__box-copy">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et.</p>
                        </div>
                        <div class="our-pillars__cta cta--purple d-flex">
                            <a class="font-bold" href='#'>FIND OUT MORE</a>
                            <svg class="our-pillars__arrow" xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 64 64"><path xmlns="http://www.w3.org/2000/svg" d="M37.379 12.552a2 2 0 10-2.758 2.897L49.963 30H10a2 2 0 000 4h39.899L34.621 48.552a2 2 0 102.758 2.896l17.449-16.62C55.584 34.073 56 33.069 56 32s-.416-2.073-1.207-2.862z" fill="#00aec8" data-original="#000000"/></svg>
                        </div>
                    </div>
                </div>

                <div class="our-pillars__box">
                    <div class="our-pillars__box-content d-flex">
                        <div class="our-pillars__inner">
                            <img class="our-pillars__img lazy mb-3" data-src="http://via.placeholder.com/46x45">
                            <h4 class="text-subheading mb-1">Enhanced by our Suppilers</h4>
                            <p class="our-pillars__box-copy">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et.</p>
                        </div>
                        <div class="our-pillars__cta cta--green d-flex">
                            <a class="font-bold" href='#'>FIND OUT MORE</a>
                            <svg class="our-pillars__arrow" xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 64 64"><path xmlns="http://www.w3.org/2000/svg" d="M37.379 12.552a2 2 0 10-2.758 2.897L49.963 30H10a2 2 0 000 4h39.899L34.621 48.552a2 2 0 102.758 2.896l17.449-16.62C55.584 34.073 56 33.069 56 32s-.416-2.073-1.207-2.862z" fill="#00aec8" data-original="#000000"/></svg>
                        </div>
                    </div>
                </div>

                <div class="our-pillars__box">
                    <div class="our-pillars__box-content d-flex">
                        <div class="our-pillars__inner">
                            <img class="our-pillars__img lazy mb-3" data-src="http://via.placeholder.com/46x45">
                            <h4 class="text-subheading mb-1">Powered by our People</h4>
                            <p class="our-pillars__box-copy">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et.</p>
                        </div>
                        <div class="our-pillars__cta cta--pink d-flex">
                            <a class="font-bold" href='#'>FIND OUT MORE</a>
                            <svg class="our-pillars__arrow" xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 64 64"><path xmlns="http://www.w3.org/2000/svg" d="M37.379 12.552a2 2 0 10-2.758 2.897L49.963 30H10a2 2 0 000 4h39.899L34.621 48.552a2 2 0 102.758 2.896l17.449-16.62C55.584 34.073 56 33.069 56 32s-.416-2.073-1.207-2.862z" fill="#00aec8" data-original="#000000"/></svg>
                        </div>
                    </div>
                </div>

                <div class="our-pillars__box">
                    <div class="our-pillars__box-content d-flex">
                        <div class="our-pillars__inner">
                            <img class="our-pillars__img lazy mb-3" data-src="http://via.placeholder.com/46x45">
                            <h4 class="text-subheading mb-1">Agile in a changing world</h4>
                            <p class="our-pillars__box-copy">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et.</p>
                        </div>
                        <div class="our-pillars__cta cta--blue d-flex">
                            <a class="font-bold" href='#'>FIND OUT MORE</a>
                            <svg class="our-pillars__arrow" xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 64 64"><path xmlns="http://www.w3.org/2000/svg" d="M37.379 12.552a2 2 0 10-2.758 2.897L49.963 30H10a2 2 0 000 4h39.899L34.621 48.552a2 2 0 102.758 2.896l17.449-16.62C55.584 34.073 56 33.069 56 32s-.416-2.073-1.207-2.862z" fill="#00aec8" data-original="#000000"/></svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>